logs
project/project
project/target
target
tmp
.history
dist
/*.iml
/.idea
/.idea/
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
/db
.cache
.DS_Store
*.gz
generated.keystore
/node_modules
/public/javascripts/bundle.js
/public/stylesheets/main.css
/public/stylesheets/bootstrap-enhance.css
